* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1600px;
  height: auto;
  font-family: "Poppins", sans-serif;
}

/* start header */

header {
  width: 100%;
  height: auto;
}

nav {
  width: 100%;
  height: 92px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar {
  width: 367px;
  height: 24px;
}

.navbar-logo {
  width: 139px;
  height: 60px;
}
.nav-bar ul {
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.nav-bar ul li {
  transition: color 0.3s ease;
}

.nav-bar ul li:hover {
  color: #30b868;
  cursor: pointer;
}

.navber-button button {
  width: 164px;
  height: 44px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #30b868;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navber-button button:hover {
  background-color: #267c4b;
  cursor: pointer;
  transform: scale(1.05);
}

/* end header */

/* start hero section */

.hero {
  width: 100%;
  height: 600px;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-color: rgba(0, 20, 40, 0.9);
  position: relative;
}
.hero-content {
  width: 1360px;
  height: 380px;
  position: absolute;
  margin: 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 229px;
  height: 36px;
  background-color: #fff;
  color: #30b868;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 100px;
  text-transform: capitalize;
}

.hero-heading {
  width: 770px;
  height: 168px;
  font-size: 72px;
  font-weight: 700;
  font-weight: bold;
  line-height: 84px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

.hero-heading p:nth-child(2) {
  color: #30b868;
}
.hero-paragraph {
  width: 1000px;
  height: 60px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.hero-button {
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.hero-btn-one {
  width: 225px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #30b868;
  color: #fff;
  transition: all 0.3s ease;
}

.hero-btn-one:hover {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  transform: scale(1.05);
}

.hero-btn-two {
  width: 198px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
}

.hero-btn-two:hover {
  background-color: #30b868;
  border: none;
  cursor: pointer;
  transform: scale(1.05);
}

/* end hero section */

/* start notes section */

.notes {
  width: 1600px;
  height: auto;
  background: #fff;
  padding: 100px 20px;
  text-align: center;
}

.notes h2 {
  font-size: 38px;
  color: #000;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.subtitle {
  color: #94a3b8;
  font-size: 16px;
  margin-bottom: 60px;
}

.cards {
  max-width: 1360px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #fff;
  padding: 32px 24px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 50px;
  height: 50px;
  background: #ff5a5a;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 18px;
}

.icon i {
  font-size: 22px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #475569;
  line-height: 1.6;
}

/* end notes section */

/* start brain section */
.second-brain {
  width: 1600px;
  height: 740px;
  position: relative;
  padding: 0 120px 120px 120px;
}
.second-brain-container {
  width: 1360px;
  height: 600px;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.second-brain-img {
  width: 600px;
  height: 600px;
  background-image: url("./assets/knowledge.png");
  background-size: cover;
}

.second-brain-content {
  width: 760px;
  height: 600px;
  background-color: #fff;
  position: relative;
}

.second-brain-contant-right {
  width: 700px;
  height: 396px;
  position: absolute;
  margin: 102px 0 120px 60px;
}

.solution {
  color: #22c55e;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
}

.second-brain-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin: 16px 0;
  color: #020617;
}

.description {
  font-size: 16px;
  color: #475569;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.features {
  margin-top: 40px;
  list-style: none;
}

.features li {
  margin-bottom: 14px;
  font-size: 16px;
  color: #020617;
  position: relative;
}
.features li i {
  color: #22c55e;
}
/* end brain section */

/* start early access */
.early-access-main {
  width: 1600px;
  height: 506px;
  padding: 0 120px 120px 120px;
}

.early-access {
  max-width: 1360px;
  height: 384px;
  padding: 60px 20px;
  background: #f8f6f2;
  text-align: center;
  border-radius: 12px;
}

.early-access h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 48px;
  margin-bottom: 16px;
}

.early-access p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #475569;
  margin-bottom: 28px;
}

.access-btn {
  width: 225px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  line-height: 19px;
  border-radius: 5px;
  background-color: #30b868;
  color: #fff;
  transition: all 0.3s ease;
}

.access-btn i {
  margin-left: 15px;
}

.access-btn:hover {
  background: #187b3c;
  transform: translateY(-2px);
}

.note {
  display: block;
  margin-top: 18px;
  font-size: 16px;
  color: #64748b;
  line-height: 20px;
  font-weight: 400;
}
/* end early access */

/* start footer section */
.footer {
  width: 1600px;
  height: 348px;
  color: #ffffff;
  background-color: rgba(0, 25, 49, 1);
  padding: 120px 120px 30px 120px;
}

.footer-content {
  max-width: 1360px;
  height: 64px;
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo {
  width: 139px;
  height: 64px;
}
.footer-social {
  width: 220px;
  height: 64px;
}

.footer-social h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: left;
}

.social-icons {
  width: 220px;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.social-icons a:hover {
  opacity: 0.7;
}

.footer-hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 40px 0 20px;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  color: #cbd5e0;
}
/* end footer section  */
