*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 1600px;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

/* start header */

header{
  width: 100%;
  height: auto;
}

nav{
  width: 100%;
  height: 92px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar{
  width: 367px;
  height: 24px;
}

.navbar-logo{
  width: 139px;
  height: 60px;
}
.nav-bar ul{
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.nav-bar ul li{
  transition: color 0.3s ease;
}

.nav-bar ul li:hover{
  color: #30B868;
  cursor: pointer;
  
}

.navber-button button{
  width: 164px;
  height: 44px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #30B868;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navber-button button:hover{
  background-color: #267C4B;
  cursor: pointer;
  transform: scale(1.05);
}

/* end header */

/* start hero section */

.hero{
  width: 100%;
  height: 600px;
  background-image: url('./assets/hero-bg.png');
  background-size: cover;
  background-color: rgba(0, 20, 40, 0.9);
  position: relative;
 
}
.hero-content{
  width: 1360px;
  height: 380px;
  position: absolute;
  margin: 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text{
  width: 229px;
  height: 36px;
  background-color: #fff;
  color: #30B868;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 100px;
  text-transform: capitalize;
}

.hero-heading{
  width: 770px;
  height: 168px;
  font-size: 72px;
  font-weight: 700;
  font-weight: bold;
  line-height: 84px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  
}

.hero-heading p:nth-child(2) {
  color: #30B868;
}
.hero-paragraph{
  width: 1000px;
  height: 60px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.hero-button{
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
   gap: 16px;
}


.hero-btn-one{
  width: 225px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #30B868;
  color: #fff;
  transition: all 0.3s ease;
}

.hero-btn-one:hover{
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  transform: scale(1.05);
}


.hero-btn-two{
  width: 198px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
}

.hero-btn-two:hover{
  background-color: #30B868;
  border: none;
  cursor: pointer;
  transform: scale(1.05);
}

/* end hero section */

/* start notes section */

.notes {
  width: 1600px;
  height: auto;
  background: #fff;
  padding: 100px 20px;
  text-align: center;
}

.notes h2 {
  font-size: 38px;
  color: #000;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.subtitle {
  color: #94a3b8;
  font-size: 16px;
  margin-bottom: 60px;
}

.cards {
  max-width: 1360px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  
}

.card {
  background: #fff;
  padding: 32px 24px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 50px;
  height: 50px;
  background: #ff5a5a;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 18px;
}

.icon i {
  font-size: 22px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #475569;
  line-height: 1.6;
}

/* end notes section */

